@charset "utf-8";
/* CSS Document */
/***
 * uimaker
 * http://www.uimaker.com
 * e-mail: admin@uimaker.com
 */
*{border:0;margin:0;padding:0;}
body{font-family:'微软雅黑'; margin:0 auto;font-size: 14px;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}

/*cloud*/
.loginBg {background-color: #1c77ac;background-image: url(../img/light.png);background-repeat: no-repeat;background-position: center top;overflow: hidden;}
#mainBody {width:100%;height:100%;position:absolute;z-index:-1;}
.cloud {position:absolute;top:0px;left:0px;width:100%;height:100%;background:url(../img/cloud.png) no-repeat;z-index:1;opacity:0.5;}
#cloud2 {z-index:2;}
/*login*/
.logintop{height:47px; position:absolute; top:0; background:url(../img/loginbg1.png) repeat-x;z-index:100; width:100%;}
.logintop span{color:#fff; line-height:47px; background:url(../img/loginsj.png) no-repeat 21px 16px; text-indent:44px; color:#afc5d2; float:left;}
.logintop ul{float:right; padding-right:30px;}
.logintop ul li{float:left; margin-left:20px; line-height:47px;}
.logintop ul li a{color:#afc5d2;}
.logintop ul li a:hover{color:#fff;}
.loginbody{background:url(../img/loginbg3.png) no-repeat center center; width:100%; height:585px; overflow:hidden; position:absolute; top:47px;}
.systemlogo{width:100%; height:71px; margin-top:100px;}
.loginbox ul li{margin-bottom:25px;}
.loginbox ul li label{color:#687f92; padding-left:25px;}
.loginbox ul li label a{color:#687f92;}
.loginbox ul li label a:hover{color:#3d96c9;}
.loginbox ul li label input{margin-right:5px;}
.loginbox,.loginbox2{width:380px;height: 373px;background-color: #fff; margin: 0 auto;box-shadow: 0px 0px 26px rgba(41, 39, 39, 0.39);}
.loginuser{width:299px; height:48px; background:url(../img/loginuser.png) no-repeat; border:none; line-height:48px; padding-left:44px; font-size:14px; font-weight:bold;display: block;margin: 0 auto;}
.loginpwd{width:299px; height:48px; background:url(../img/loginpassword.png) no-repeat; border:none;line-height:48px; padding-left:44px; font-size:14px; color:#90a2bc;display: block;margin: 0 auto;}
.loginbtn{width:111px;height:35px;margin-left: 41px;background:url(../img/buttonbg.png) repeat-x; font-size:14px; font-weight:bold; color:#fff;cursor:pointer; line-height:35px;}
.loginbm{height:40px; line-height:40px; text-align:center; background:url(../img/loginbg2.png) repeat-x;position:absolute; bottom:0; width:100%; color:#0b3a58;}
.loginbm a{font-weight:bold;color:#0b3a58;}
.loginbm a:hover{color:#0078F9;}
.yzm{width:299px;height: 46px;background: url(../img/yzmbg.png) no-repeat; padding-bottom: 5px;margin: 0 auto;}
.yzm span{display:block; float:left;width:183px; height:46px;}
.yzm span input{background:none; border:none;width: 186px;height:46px; line-height:46px;padding-left:44px;font-size:14px; color:#cee4f1;}
.yzm cite, .yzm cite img{float:right; width:114px; height:46px; line-height:46px; font-size:18px; color:#fff; text-align:center;}
.login_main_errortip {color: red;width: 344px;margin-bottom: 10px;text-align: center;}
/*后期修改 Fq*/
.nav-tabs {height:55px;border-bottom: 1px solid #64a5ca;}
.nav-tabs>li>a {border-radius: 0;}
.nav-tabs>li>a:hover {border-color:#64a5ca;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {color: #fff;background-color: #64a5ca;border: solid 1px #64a5ca;}
.nav li a{color:#64a5ca; margin-right: 0;line-height: 35px;height: 55px;text-align: center;}
.topTab li{width:50%;}

