<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 指定事务管理器，JPA使用JpaTransactionManager事务管理器实现. -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <qualifier value="mysqlEM"/>
    </bean>

    <!-- 指定JPA实现 -->
    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="database" value="${database}"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        <!-- 指定持久化单元名字，即JPA配置文件中指定的 -->
        <!--<property name="persistenceUnitName" value="mysqldb"></property>-->
        <property name="packagesToScan">
            <list>
                <value>io.znz.jsite.**.bean</value>
            </list>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.connection.charSet">UTF-8</prop>
                <!--设置外连接抓取树的最大深度 -->
                <prop key="hibernate.max_fetch_depth">3</prop>
                <prop key="hibernate.jdbc.fetch_size">18</prop>
                <prop key="hibernate.jdbc.batch_size">10</prop>
                <!--解决Multiple representations of the same entity的问题-->
                <prop key="hibernate.event.merge.entity_copy_observer">allow</prop>
                <!--是否自动创建更新数据库表-->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.use_sql_comments">${hibernate.use_sql_comments}</prop>
                <prop key="hibernate.generate_statistics">true</prop>
                <!-- Enable Batching -->
                <prop key="hibernate.jdbc.batch_size">20</prop>
                <prop key="hibernate.default_batch_fetch_size">10</prop>
                <!-- 开启二级缓存 -->
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <!-- 关闭二级缓存 -->
                <!--<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>-->
                <!-- 打开Hibernate查询缓存 -->
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <!-- 配置缓存提供者 -->
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
                <!-- 关闭实体字段映射校验,解决jar冲突的问题   javaee5会报jar包冲突的问题，升级到6并加上这一句即可解决-->
                <prop key="javax.persistence.validation.mode">none</prop>
            </props>
        </property>
    </bean>

    <!-- 配置Spring Data JPA扫描目录-->
    <jpa:repositories base-package="io.znz.jsite.**.dao"
        entity-manager-factory-ref="entityManagerFactory"
        transaction-manager-ref="transactionManager"
        repository-impl-postfix="Impl"
        factory-class="io.znz.jsite.base.DaoFactoryBean">
    </jpa:repositories>

    <!-- 开启事务注解，扫描@Transactional注解的类定义事务  -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

</beans>
